@import '../../styles/variables';

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1140px;
    overflow-x: hidden;

    .content-container {

        h2 {
            font-size: 55px;
            color: $background-color-dark;
            margin: 10px 0;
        }

        p {
            margin: 20px 0;
            font-size: 24px;
            color: $light-color-cream;
        }
    }


    .image-container {
        overflow-x: hidden;

        img {
            width: 400px;
            display: block;
        }
    }
}