<div class="register-container">
    <h2>Register your account</h2>
    <form action="" class="form">
        <div class="input-container">
            <label for="email-register">Email</label>
            <input id="email-register" type="email" name="email" required>
        </div>
        
        <div class="input-container">
            <label for="password-register">Password</label>
            <input id="password-register" type="password" name="password">
        </div>
        <button class="button-dark" type="submit">Register</button>
    </form>
</div>