<div class="register-container">
    <h2>Register your account</h2>
    <form (submit)="onRegister()" class="form">
        <div class="input-container">
            <label for="email-register">Email</label>
            <input id="email-register" type="email" [(ngModel)]="email" name="email" required>
        </div>
        
        <div class="input-container">
            <label for="password-register">Password</label>
            <input id="password-register" type="password" [(ngModel)]="password" name="password">
        </div>
        <button class="button-dark" type="submit">Register</button>
        <small>If you already have an account yoou can <a routerLink="/login">login here</a></small>
    </form>
</div>