
<div *ngIf="cartItems && cartItems.length > 0; else invalidMessage" class="cart-container">
    <div class="cart-header-container">
        <h3>Shopping Cart</h3>
        <div class="cart-header">
            <div class="cotinue-button-container">
                <button (click)="goToAllProduct()" class="button-light">Continue Shopping</button>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th colspan="2">Product</th>
                <th colspan="1">Price</th>
                <th colspan="1">Quantity</th>
                <th colspan="2">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems">
                <td class="cart-item-media"><img [src]="item.image" [alt]="item.name"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.price | currency:'EUR' }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.quantity * item.price | currency:'EUR'}}</td>
                <td><i class="pi pi-trash" (click)="removeFromCart(item.id, item.size)"></i></td>
            </tr>
        </tbody>
    </table>
    
    <div class="cart-footer-container">
        <div class="cart-footer">
            <p>Total quantity: {{ totalQuantity }}</p>
            <p>Subtotal: {{ totalPrice | currency:'EUR' }}</p>
            <div class="checkout-button-container">
                <button (click)="goToCheckout()" class="button-dark">Checkout</button>
            </div>
        </div>
    </div>
</div>

<ng-template #invalidMessage>
    <div class="invalid-message-container">
        <div  class="invalid-message">
            <p>The Cart Is Empty Go To All Products</p>
            <button (click)="goToAllProduct()" class="button-light">Continue Shopping</button>
        </div>
    </div>
</ng-template>
