.thank-you-container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 210px 0;
    i {
        font-size: 56px;
        color: green;
    }

    h3 {
        font-size: 46px;
        margin: 0;
    }

    p {
        margin: 0;
    }
}