/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "styles/variables";

body {
    font-family: 'Times New Roman', Times, serif;
    color: $light-color-cream;
    background-color: $background-color-light;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.cart-badge {
    background-color: $background-color-light;
    padding: 5px 9px;
    border-radius: 100%;
    margin: 5px;
    color: $background-color-dark;
    font-size: 12px;
}

.button-light {
    width: 100%;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px; 
    background-color: white;
    border: 2px solid white;
    text-transform: uppercase;
    color: $button-grey;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}

.button-dark {
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px; 
    background-color: $button-grey;
    border: 2px solid $button-grey;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    color: $background-color-light;
    cursor: pointer;
}

